<div class="field-box" (click)="OpenOptions($event)" [class.field-selected]="field.state?.IsSelected">
  <div class="field-area" *ngIf="field.type == fieldType.Input">
      <mat-form-field class="example-full-width" [style.font-size]="field?.state?.FontSize">
          <mat-label>{{field?.label}}</mat-label>
          <input style="cursor: pointer;" [readonly]="true" matInput>
      </mat-form-field>
  </div>
  <div class="field-area" *ngIf="field.type == fieldType.TextArea">
      <mat-form-field class="example-full-width">
          <mat-label>{{field?.label}}</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
  </div>
  <div class="field-area" *ngIf="field.type == fieldType.Checkbox">
      <div class="form-field example-full-width">
          <mat-checkbox class="example-margin" >{{field?.label}}
          </mat-checkbox>
      </div>
  </div>
  <div class="field-area" *ngIf="field.type == fieldType.Radiogroup">
      <div class="form-field example-full-width">
          <h4>{{field?.label}}</h4>
          <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="{{opt.Label}}" *ngFor="let opt of field!.state!.radiogroup.options">
                  {{opt.Label}}</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>
  <div class="field-area" *ngIf="field.type == fieldType.Dropdown">
      <div class="form-field example-full-width">
          <h4>{{field?.label}}</h4>
          <mat-form-field appearance="fill">
              <mat-label>{{field?.state?.dropdown!.Placeholder}}</mat-label>
              <mat-select>
                  <mat-option *ngFor="let item of field.state?.dropdown!.options" value="{{item.Label}}">{{item.Label}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>
</div>
<!-- [(ngModel)]="field.state!.checkbox.IsChecked" -->
